#root {
  
  margin: 0 auto;
  
   max-width: 100vw;
   text-align: center;
  padding: 50px;
  height: 600px;
  
  
  
 
}



/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
.logoreact{
  width: 18vw; /* Ajusta el ancho de la imagen al 50% del ancho de la ventana */
    
   /* Limita el ancho máximo de la imagen */
/*   animation: logo-spin 20s linear infinite; /* Animación de rotación */ 
 
}
.calavera{
  padding: 14px;
}
.fondo{
  background-color: #51E5FF;
  padding: 50px;
  border-radius: 10px;
}




